$background1: rgb(19, 24, 32);
$background1trns: transparent;
$backgroundMajor1: #131820;
$backgroundMajor2: #1f2d44;
$background1gld: #f9b01b;
$baseText1: white;
$baseText2: #8caec38f;
$backroundgradient1: linear-gradient(to right, #6752cf 0%, #974b9d 100%);

@mixin textBackgradeint {
  background: linear-gradient(to right, #6752cf 0%, #974b9d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin cursor-down {
  padding: 7rem 0 5rem 0;
  color: $backgroundMajor2;
  font-size: 2.5rem;
  text-align: center;
}

@mixin border-stuff {
  border: 0.1rem solid $baseText1;
  border-radius: 4rem;
  background-color: $background1trns;
  color: $baseText1;
}

@mixin gen-btn {
  @include border-stuff;
  // background: $backroundgradient1;
  height: 2rem;
  width: 7rem;
  margin: 0.2rem;
  text-transform: capitalize;
  font-weight: 700;
}

@mixin gen-btn2 {
  @include gen-btn;
  $background1trns: #f9b01b;
  $background1: #000;
  background-color: $background1trns;
  color: $background1;
  border: none;
}
// COMPONENT STYLES
.btn {
  @include gen-btn;
  border: none;
}

//END OF COMPONENT STYLE

// NAVBAR STYLES //

.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .sub-list1 {
    visibility: hidden;
    height: 100%;
    // min-width: 5rem;
    position: absolute;

    li {
      box-shadow: 0 2px 7px 1px rgb(0 0 0 / 5%),
        0 6px 32px 0 rgb(18 43 70 / 10%);
      border-radius: 4px;
      visibility: hidden;
      z-index: 100;
      padding: auto;
      top: calc(100% - 15px);
      background: $baseText1;
      position: absolute;
      z-index: 100;
      color: black;
      width: 8rem;
      padding: 2rem 0;
      list-style: none;
    }
  }
  .sub-list2 {
    visibility: hidden;
    li {
      position: absolute;
    }
  }
}
.nav-container {
  position: fixed;
  top: 0;
  background-color: $background1;
  color: $baseText1;
  height: 4.7rem;
  width: 100%;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12rem 0 12rem;
  height: 100%;
  img {
    width: 8rem;
    padding-right: 3rem;
  }
  input {
    display: none;
  }
  .input-search {
    // display: none;
    visibility: hidden;
  }
  ul {
    margin: 0 1rem 0 -2rem;
    height: 100%;
  }
  a:hover {
    color: #ebd456;
  }
  li:hover {
    color: #ebd456;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.9rem;
    font-stretch: ultra-expanded;
    list-style-type: none;
    text-transform: capitalize;
    padding: 0 0.7rem 0 0.7rem;
  }
  .btn-container {
    display: flex;
    align-items: center;
  }
  .btn2 {
    @include gen-btn2;
  }
  .btn2:hover {
    color: black;
    background: #f0ae2ac5;
  }
  Button:hover {
    color: #f9b01b;
  }
}
//END OF NAV STYLES //

//ONBOARDING STYLES //

.onboarding {
  height: 37.5rem;
  width: 100%;
  padding: 4.7rem 0 0 0;
  display: flex;
  justify-content: center;
}
.on-the-board {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 10% 0 12%;
  height: 100%;
  img {
    margin-top: 4rem;
    width: 50rem;
  }
}

.onthe-gen {
  background-image: radial-gradient(
    at center left,
    #1f2d44 0%,
    $backgroundMajor1 46%
  );
}

.stamp-sec {
  background-color: $background1trns;
  text-align: left;
  padding: 3rem 3.5rem 0 1.9rem;
  height: auto;
  width: 45%;
  // margin-top: 2rem;

  .frame {
    @include gen-btn2;
    $background1trns: #7e369427;
    background-color: $background1trns;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(196, 125, 196);
    width: 22rem;
    height: 3rem;
    margin: 0 0 1rem 0;
    span {
      @include textBackgradeint;
      font-size: 1rem;
    }
  }
  h1 {
    color: $baseText1;
    margin: 0 0 2rem 0;
    font-size: 2.7rem;
    span {
      @include textBackgradeint();
    }
  }
  p {
    font-family: "Monstrait", sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    color: $baseText1;
    line-height: 1.8rem;
  }
  .general-btn {
    @include gen-btn;
    background: $backroundgradient1;
    width: 13rem;
    height: 3rem;
    margin: 1.8rem 0 0.6rem 0;
    border: none;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    font-weight: 100;
    align-items: center;
    .arrow {
      font-weight: 300;
    }
  }

  .image-sec {
    display: flex;
    align-items: center;
    width: 55%;
    div {
      padding: 5.8rem 0 5.8rem 0;
      background-color: white;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
//END OF ONBOARDING STYLE //

//COUNTER SECTION STYLE //
.counter-bg {
  background-color: $background1trns;
  color: $baseText1;
  margin: 0rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-body {
  margin: 0 7.5rem 0 7.5rem;
  align-items: center;
  display: flex;
  justify-content: end;
}

.cards {
  border-radius: 2rem;
  border: double 2px white;
  background-image: linear-gradient(rgba(19, 24, 32, 1), rgba(19, 24, 32, 1)),
    radial-gradient(circle at top right, white, #131820);
  background-origin: border-box;
  background-clip: content-box;
  color: $baseText1;
  width: 22rem;
  height: 11rem;
  margin: 0 2.5rem 0 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  p {
    font-size: medium;
  }
  .card-items {
    background: $backgroundMajor1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.text-end {
  text-align: center;
  padding: 2rem 0 5rem 0;
  background-color: inherit;
  color: $baseText2;
}
// END OF COUNTER SECTION //

// STARTING INCREDIBLE SECTION //

.incredible-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5rem 9rem 5rem 10.7rem;
  line-height: 1.65rem;
  margin: 5rem 0 0 0;
  h5 {
    @include textBackgradeint;
    margin: 0 0 -0.7rem 0;
  }
  h1 {
    color: $baseText1;
    font-size: 2.5rem;
    font-weight: 370;
  }
  p {
    color: #8caec3;
  }
  .cursor-down {
    @include cursor-down;
  }
}
// END OF INCREDIBLE SECTION //

// STARTING OF FEATURE SECTION //

.feature-box {
  text-align: center;
  padding: 2rem 15rem 2rem 15rem;
  h5 {
    @include textBackgradeint;
  }
  h1 {
    color: $baseText1;
    font-size: 2.5rem;
    font-weight: 370;
  }
  .main-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    .box-1 {
      width: 30%;
      text-align: left;
      line-height: 2rem;
      padding: 3rem 3rem 3rem 0;
      span {
        background: rgb(102, 48, 102);
        border-radius: 50%;
      }
    }
    .box2 {
      width: 70%;
      img {
        width: 40rem;
      }
    }
  }
  h3 {
    color: $baseText1;
  }
  p {
    text-align: left;
    color: #8caec3;
    padding-top: 2.5rem;
  }
  .cursor-down {
    @include cursor-down();
  }
}

// END OF FEATURE SECTION //@include

// STARTING OF PREVIEW SECTION //

.preview-box {
  align-items: center;
  padding: 0 15rem 6rem 10rem;
  .icons {
    font-size: 2rem;
    border-radius: 50%;
    padding: 1.5rem;
    margin: 1.5rem;
    color: $baseText1;
    background: #ffffff0c;
  }
  h1 {
    color: $baseText1;
    font-size: 2rem;
    text-align: center;
    padding: 0 0 0 5rem;
  }
  .video-card {
    width: 100%;
    height: 40rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 2rem;
    background: radial-gradient(
      at top left,
      rgba(224, 68, 224, 0.658) 58%,
      rgb(17, 17, 153) 100%
    );
    .videos {
      background-image: url(https://i.vimeocdn.com/video/1203920922-ae0534211497d3780c6d7bbd336e1f6e296348dfb4ea606444f09755909d6c74-d?mw=1200&mh=675);
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      // background: $baseText1;
      .main-video {
        width: 100%;
        height: 100%;
        border: none;
        // scroll-behavior: none;
      }
    }
  }
  .option-box {
    margin-top: 4rem;
    margin-left: 6rem;
    display: flex;
    flex-direction: row;
    .option-box-main {
      padding: 2rem;
      width: 29%;
      text-align: center;
      line-height: 2rem;
    }
    h3 {
      color: $baseText1;
    }
    p {
      color: #8caec3;
    }
  }
}
// END OF PREVIEW SECTION //

//STARTING OF BENEFIT SECTION //
.benefit-box {
  background-image: radial-gradient(at center right, #590a5d 0%, #131820 58%);
  padding: 2rem 12rem 4rem 10rem;
  .icons {
    font-size: 2rem;
    border-radius: 50%;
    padding: 1.5rem;
    margin: 1.5rem;
    color: $baseText1;
    background: #ffffff0c;
  }
  .top-box {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    text-align: center;
    line-height: 2rem;
    .main-box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 40rem;
      margin: 0;
    }
    h1 {
      font-size: 2.5rem;
      color: $baseText1;
      margin-bottom: -0.5rem;
    }
    p {
      color: $baseText2;
      font-size: 1.1rem;
    }
  }
  .sub-container {
    display: flex;
    justify-content: center;

    .sub-boxes {
      // border: solid .4rem $baseText1;
      width: 30%;
      text-align: center;
      h3 {
        color: $baseText1;
        font-size: 1.2;
        font-weight: 500;
      }
      p {
        color: $baseText2;
        font-size: 1rem;
      }
    }
  }
}

// END OF BENEFIT SECTION //

// STARTING OF PRODUCTS PRICING SECTION //

.product-ctner {
  padding: 2rem 12rem 4rem 10rem;
  .general-cnter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
    text-align: center;
    line-height: 2rem;
    h3 {
      @include textBackgradeint;
      font-size: 1.2;
      font-weight: 500;
    }
    h1 {
      font-size: 2.5rem;
      color: $baseText1;
    }
    p {
      color: $baseText2;
      font-size: 1rem;
    }
    .gen-cnter0 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      // margin: 0;
      .gen-cnter1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 35rem;
        margin-bottom: 5rem;
      }
      .price-box {
        display: flex;
        justify-content: center;
        .pro-price {
          display: flex;
          justify-content: space-between;
          p {
            font-size: 2.5rem;
            font-weight: 400;
            color: #974b9d;
            font-style: italic;
            text-decoration: line-through;
            margin: 0.2rem;
          }
        }
        .price-cnter2 {
          display: flex;
          flex-direction: column;
          text-align: left;
          width: 20rem;
          background-color: #1f242b;
          color: $baseText1;
          padding: 2rem 1rem 4rem 1rem;
          border-radius: 2rem;
          margin: 2rem 2rem 0 1rem;
          span {
            font-size: 2rem;
            font-weight: 400;
          }
          h1 {
            margin: 0.8rem 0 0.8rem 0;
            span {
              font-size: 1.5rem;
              font-weight: 350;
            }
          }
          li {
            padding: 0.8rem;
          }
          .btn-cnter2 {
            display: flex;
            justify-content: center;
          }
          .gen-btn2 {
            @include gen-btn;
            background: $backroundgradient1;
            width: 14rem;
            height: 3rem;
            cursor: pointer;
          }
        }
      }
      .price-cnter {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 20rem;
        height: 100%;
        background-color: #1f242b;
        color: $baseText1;
        padding: 2rem 1rem 4rem 1rem;
        border-radius: 2rem;
        margin: 2rem 2rem 0 1rem;
        span {
          font-size: 2rem;
          font-weight: 400;
        }
        h1 {
          margin: 0.8rem 0 0.8rem 0;
          span {
            font-size: 1.5rem;
            font-weight: 350;
          }
        }
        li {
          padding: 0.8rem;
        }
        .btn-cnter {
          display: flex;
          justify-content: center;
        }
        .gen-btn {
          @include gen-btn;
          width: 14rem;
          height: 3rem;
          cursor: pointer;
        }
        .gen-btn:hover {
          background: $baseText1;
          color: #000;
        }
      }
    }
  }
}

// END OF PRODUCTS PRICING SECTION //

// STARTING OF TESTIMONIALS SECTION //

.testimonial {
  padding: 2rem 15rem 6rem 15rem;

  .gen-body {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    margin: 0 0 2.5rem 0;
    .gen-head {
      width: 40%;
      margin: 0 1rem 0 0;
      h4 {
        @include textBackgradeint;
        margin-top: 0;
      }
      h3 {
        color: $baseText1;
        font-size: 1.99rem;
        font-weight: 400;
        margin-top: 0.7rem;
      }
    }
  }
  .disclaimer {
    color: $baseText2;
    width: 60%;
    font-size: medium;
    line-height: 1.8rem;
  }
  .slide-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .slide-container {
      height: 10rem;
      width: 100%;
      margin-bottom: 1rem;
      background: $baseText1;
    }
    .btn-box {
      margin: 2rem;
      .last-btn {
        @include gen-btn2;
        background: $backroundgradient1;
        color: $baseText1;
        height: 3rem;
        width: 12rem;
      }
    }
  }
}

// END OF TESTIMONIALS SECTION //

//STARTING OF FOOTER //

.footer-bkgrnd {
  background: #1f242b;
  padding: 2rem 13rem 1.7rem 12rem;
  .foots {
    display: flex;
    justify-content: end;
    flex-direction: row;
    width: 100%;
  }
  .foots1 {
    width: 50%;
    margin-bottom: 3rem;
    img {
      width: 17%;
    }
    p {
      color: rgb(172, 163, 163);
      width: 63%;
      font-size: 0.9rem;
      line-height: 1rem;
    }
  }
  .foots2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
    div {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 3rem;
      h4 {
        color: #8e99b3;
        margin-top: 0;
      }
      a {
        padding: 1rem 0 0 0;
        font-size: 0.9rem;
      }
      a:hover {
        color: rgb(141, 136, 136);
      }
    }
  }
  .foots-end {
    color: rgb(141, 136, 136);
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 990px) {
  .nav-items {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    width: fit-content;
  }
  .gunna {
    // visibility: hidden;
    display: none;
  }
  li {
    font-size: large !important;
  }

  .input-search {
    visibility: visible;
    display: grid;
    // align-items: center;
    font-size: 1rem;
    p {
      padding-right: 0.5rem;
      padding-bottom: 0.4rem;
      font-weight: 700;
    }
  }
  .on-the-board {
    margin: 0 4% 4% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    display: grid;
  }
}

.img-sec-sm {
  display: none;
}
.small-screen-nav {
  display: none;
}

@media screen and (max-width: 660px) {
  // SMALL SCREEN NAV
  .nav-container {

    // background-color: white;
    // width:fit-content;
    // .nav-items{
    //   // background-color: #000;
    //   // margin: 1rem;
    // }
  }
  .img-lg {
    img {
      display: none;
    }
  }
  nav {
    .nav-list {
      display: none;
    }
  }
  .btn-container {
    Button,
    p,
    .search-lg {
      display: none;
    }
  }
  .nav-items {
    display: block;
  }
  .small-screen-nav {
    display: flex;
    // background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    width: 100%;
    .img {
      width: 10rem;
      padding-left: 3rem;
      // background: green;
    }
  }

  // ONBOARDING
  .onboarding {
    height: 91vh;
    padding: 3rem 0.4rem 0 0.4rem;
  }
  .on-the-board {
    height: 100vh;
    margin: 0.2%;
    .stamp-sec {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0.1rem;
      h1 {
        font-size: 2rem;
        display: flex;
        gap: 1rem;
      }
      p {
        font-size: 1rem;
        line-height: 150%;
        font-weight: 100;
      }
      .frame {
        width: 24rem;
        background: #21092262;
      }
    }
  }
  .image-sec {
    display: none;
  }
  .img-sec-sm {
    display: block;
    margin-top: -3rem;
    padding: 2rem;
    img {
      width: 24rem;
    }
  }

  // COUNTER BACKGROUND STARTING
  .card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cards {
      margin: 1rem;
      height: 7rem;
      width: 100%;
      div h1 {
        font-size: 2.5rem;
      }
    }
  }
  .card-body {
    margin: 0rem;
    display: block;
    width: 90%;
  }
  .counter-bg {
    height: inherit;
  }
  .text-end {
    padding: 3rem 2rem 2rem 2rem;
  }

  // INCREDIBLE STARTING
  .incredible-box {
    padding: 4% 4% 0 4%;
    h5 {
      font-size: 2rem;
      padding: 1rem;
      font-weight: 600;
      letter-spacing: 0.3rem;
    }
    h1 {
      font-size: 2rem;
    }
    p {
      padding: 1rem;
    }
    .logo-sm {
      display: block;
      width: 30rem;
    }
    .cursor-down {
      font-size: 3.5rem;
      padding: 4.5rem 0 3.5rem 0;
    }
  }

  // STARTING OF FEATURED SECTION
  .feature-box {
    padding: 1% 4% 4% 4%;
    margin: 0rem;
    h5 {
      margin: 0rem;
      font-size: 1.8rem;
      font-weight: 450;
      letter-spacing: 0.3rem;
    }
    h1 {
      margin: 0rem;
      padding: 0.5rem 0 1rem 0;
      font-size: 2rem;
      font-weight: 450;
      letter-spacing: 0.11rem;
    }
    .main-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      .box-1 {
        padding: 1rem;
        width: 90%;
        text-align: center;
        span {
          padding: 0.5rem;
        }
        h3 {
          font-size: 2rem;
          font-weight: 450;
        }
        p {
          padding: 1% 4% 2% 4%;
          text-align: center;
          font-size: 0.9rem;
          font-weight: 100;
          word-spacing: 0.14rem;
          line-height: 1.5rem;
        }
      }
      .box2 {
        text-align: center;
        width: 100%;
        margin: 0rem;
        .img-container-sm {
          margin: 0rem;
          padding: 4rem 0 0 0;
          img {
            width: 25rem;
          }
        }
      }
    }
    .last-pargh {
      padding: 7% 4% 5% 4%;
      text-align: center;
      font-size: 0.94rem;
      font-weight: 100;
      word-spacing: 0.14rem;
      line-height: 1.7rem;
      opacity: 50%;
    }
    .cursor-down {
      padding: 0rem;
      margin-bottom: 0.2em;
    }
  }

  // ACADEMY PREVIEW SECTION
  .preview-box {
    padding: 0 4% 4% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      margin: 0rem;
      padding: 2% 0 5% 0;
      text-align: center;
      font-size: 1.8rem;
    }
    .video-card {
      padding: 0 3.5% 0 3.5%;
      width: 90%;
      height: 14.5rem;
    }
    .option-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0rem;
      padding: 8% 0 0 0;
      width: 100%;

      .option-box-main {
        padding: 5% 0 0 0;
        margin-top: 1.4rem;
        width: 90%;
        .icons {
          font-size: 2rem;
          border-radius: 50%;
          padding: 1.5rem;
          margin: 1.5rem;
          color: $baseText1;
          background: #ffffff0c;
        }
        h3 {
          font-weight: 450;
          margin-top: 1.5rem;
        }
      }
    }
  }

  // BENEFITS SECTION STARTS //

  .benefit-box {
    padding: 4.5%;
    .top-box {
      margin: 0%;
      h1 {
        font-size: 1.9rem;
      }
      .main-box {
        p {
          font-size: 0.95rem;
          line-height: 1.8rem;
        }
      }
    }
    .sub-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .sub-boxes {
        width: 90%;
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }
        .icons {
          font-size: 2rem;
          border-radius: 50%;
          padding: 1.5rem;
          margin: 1.5rem;
          color: $baseText1;
          background: #ffffff0c;
        }
      }
    }
  }

  // STARTING OF PRODUCTS SECTION
  .product-ctner {
    // width:
    padding: 10%;
    margin: 0%;
    .gen-cnter0 {
      h1 {
        font-size: 120%;
      }
      p {
        padding: 0 15% 1rem 15%;
        margin: 0;
      }
    }
    .price-box {
      display: flex;
      flex-direction: column;
    }
  }

  // STARTING FOR INCREDIBLE SECTION
  .incredible-box {
    .logo-sm {
      width: 23rem;
    }
  }

  // STARTING OF FEATURED SECTION

  .feature-box {
    .box2 {
      .img-container-sm {
        width: 100%;
        img {
          width: 23rem;
        }
      }
    }
  }

  // STARTING FOR TESTIMONIAL SECTION

  .testimonial {
    padding: 7%;
    .gen-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      .gen-head {
        width: 24rem;
        text-align: center;
        h3 {
          font-size: 1.5rem;
        }
        .disclaimer {
          padding: 0;
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}
